/* Footer */
#footer {
    height: 52px;
    background-color: #2e2e2e;
    bottom: 0;
    display: block;
    color: #dbdbdb;
  }
  .container-footer {
    padding: 13px 15px;
    margin: 7px auto;
  }
  .footerleft {
    width: 33%;
    display: inline-block;
  }
  .footercenter {
    text-align: center;
    width: 33%;
    display: inline-block;
  }
  .footercenter a {
    color: #9e9e9e;
    text-decoration: none;
  }
  .footerright {
    color: rgb(212, 21, 21);
    text-align: right;
    width: 33%;
    display: inline-block;
  }